.input{
    color: black;
    display: flex;
    align-items: center;
    height: 100px;
}

#submit{
    background-color: black;
    color: wheat;
    position: relative;
    top: 20px;
}

#l{
    height: 20px;
    
}